dnspython==2.6.1
ipwhois==1.1.0
pythonwhois-alt==2.4.6
# Requests is a dependency of tldextract so it can't be removed. Freezing
# it at the version used by platform.
tldextract==2.1.0
# installed by default as a sub-dependency
